Create database on localhost SQL Server 2019 ctp 2.4+

In [1]:
if db_id('FleitasArts') is null create database FleitasArts;
go

Switch DB Context and cleanout to start fresh

In [2]:
use FleitasArts
go
drop table if exists Ticket
drop table if exists Lead
drop table if exists CustomerAccount
drop table if exists Customer
go
set nocount on;